<!--Inicio Parallax No. 1-->
<div class="parallax-container">
  <div class="container">
    <h1 class="header center blue-grey-text text-lighten-4">Bienvenido a ochoBIT!</h1>
    <div class="row center">
      <h5 class="header col s12 light">Juega donde y como quieras!</h5>
    </div>
    <div class="row center">
      <br><br>
      <a id="download-button" class="btn-large waves-effect waves-light deep-purple accent-4">Registrate!</a>
    </div>
    <br><br>
  </div>
  <div class="parallax"><img src="../../../assets/Img/fondo_1.jpeg"></div>
</div>
<!--Fin Parallax No. 1-->
<!--Inicio Sección multi-platform-->
  <div class="section multi-platform">
    <div class="row">
      <div class="col s12 m6 valign-wrapper img-paragraph-1">
        <img class="responsive-img" src="../../../assets/Img/multi-platform.png" alt="multi-platform">
      </div>
      <div class="col s12 m6">
          <div class="container prueba">
          <h4 class="center">Juega en cualquier dispositivo!</h4>
          <p class="flow-text paragraph-1">
            Tendrás acceso a todos tus juegos en la plataforma que tú prefieras. Podrás jugar en tu ordenador,
            celular, consola de videojuegos o cualquier otro dispositivo inteligente a tu elección.
          </p>
        </div>
      </div>
    </div>
  </div>
<!--Fin Sección multi-platform-->
<!--Inicio Parallax No. 2-->
<div class="parallax-container">
  <div class="container">
    <h3 class="header center blue-grey-text text-lighten-4">Juega miles de títulos disponibles al instante!</h3>
    <div class="row center">
      <h5 class="header col s12 light">Puedes cancelar en cualquier momento si lo prefieres</h5>
    </div>
    <div class="row center">
      <br><br>
      <a id="download-button" class="btn-large waves-effect waves-light deep-purple accent-4">Ver Juegos</a>
    </div>
    <br><br>
  </div>
  <div class="parallax"><img src="../../../assets/Img/multiple-games.jpg"></div>
</div>
<!--Fin Parallax No. 2-->
<!--Inicio Sección sponsors-->
<div class="container section sponsors">
  <div class="row">
    <h4 class="header center">Contamos con los mejores partners en la industria</h4>
  </div>
  <div class="row">
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/playstation.png" alt="Playstation Logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/steam.png" alt="Steam logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/ea.png" alt="EA Logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/konami.png" alt="Konami Logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/nintendo.png" alt="Nintendo Logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/rockstar.png" alt="Rockstar Logo"></div>
    <div class="col s6 m4 l3 offset-m2"><img class="responsive-img" src="../../../assets/Img/brand-logos/ubisoft.png" alt="Ubisoft Logo"></div>
    <div class="col s6 m4 l3"><img class="responsive-img" src="../../../assets/Img/brand-logos/xbox.png" alt="Xbox Logo"></div>
  </div>
</div>
<!--Fin Sección sponsors-->
<!--Inicio Footer-->

<!--Fin Footer-->